@keyframes colores {

    /*from{background: #21295C;}
    to{background: #1C7293}*/
    0% {
        background: #21295C;
        float: left
    }
    25% {
        background: #1B3B6F;
        width: 50%;
    }

    50% {
        background: #065A82;
        width: 100%;
    }

    75% {
        background: #1C7293;
        width: 50%
    }

    100% {
        background: #9EB3C2;
    }
}

@keyframes movimiento {
    /*0%{transform: translate(0px);}
    50%{transform: translate();}
    100%{transform: translate(0px);}*/
    from{transform: translate(0);}
    to{transform: translate(500px);}
}
.caja {
    width: 200px;
    height: 200px;
    background: #21295C;
    /*animation-name: colores;
    animation-duration: 5s;
    animation-iteration-count: infinite;*/
    animation:colores 10s ease infinite
}