<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Practica1</title>
</head>

<body>
    <div class="contenedor">
        <header>
            <nav class="menu">
                <ul class="lista">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Contactos</a></li>
                    <li><a href="#">Acerca de</a></li>
                </ul>
            </nav>
        </header>
        <section class="main">
            <img src="../img/curry.jpg" alt="">
            <!--<div class="imagen">
                <img src="../img/curry.jpg" alt="">
            </div>-->
            <section class="posts">
                <article>
                    <h2>Lorem Ipsum</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed nisl blandit, fermentum
                        erat et, sodales lacus. Cras non interdum nulla. Quisque ante orci, tempus non arcu et,
                        imperdiet tristique nunc. Nulla at gravida risus. Phasellus augue lectus, consectetur a dui sed,
                        rhoncus facilisis odio. Suspendisse sed vestibulum eros. Suspendisse vehicula sagittis nibh eu
                        posuere. Pellentesque rhoncus sit amet orci in gravida. Pellentesque eget volutpat ipsum, quis
                        pretium turpis. Sed vel pulvinar turpis. Cras lobortis mauris sed justo rhoncus, in tincidunt
                        felis vestibulum. Nulla bibendum pharetra erat nec efficitur. Praesent quis ipsum eget augue
                        efficitur rutrum id eu lacus. Nam ut viverra augue. Donec rutrum vehicula eleifend. Sed vehicula
                        lectus in semper dignissim.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed nisl blandit, fermentum
                        erat et, sodales lacus. Cras non interdum nulla. Quisque ante orci, tempus non arcu et,
                        imperdiet tristique nunc. Nulla at gravida risus. Phasellus augue lectus, consectetur a dui sed,
                        rhoncus facilisis odio. Suspendisse sed vestibulum eros. Suspendisse vehicula sagittis nibh eu
                        posuere. Pellentesque rhoncus sit amet orci in gravida. Pellentesque eget volutpat ipsum, quis
                        pretium turpis. Sed vel pulvinar turpis. Cras lobortis mauris sed justo rhoncus, in tincidunt
                        felis vestibulum. Nulla bibendum pharetra erat nec efficitur. Praesent quis ipsum eget augue
                        efficitur rutrum id eu lacus. Nam ut viverra augue. Donec rutrum vehicula eleifend. Sed vehicula
                        lectus in semper dignissim.</p>
                </article>
            </section>
        </section>
        <aside>
            <div class="widget">
                <h3 class="titulo">Articulos Destacados</h3>
                <ul>
                    <li><a href="#">Lorem ipsum dolor sit ammet.</a></li>
                    <li><a href="#">Lorem ipsum dolor sit ammet.</a></li>
                    <li><a href="#">Lorem ipsum dolor sit ammet.</a></li>
                    <li><a href="#">Lorem ipsum dolor sit ammet.</a></li>
                    <li><a href="#">Lorem ipsum dolor sit ammet.</a></li>
                </ul>
            </div>
            <div class="widget">
                <h3 class="titulo">Info</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed nisl blandit, fermentum
                    erat et, sodales lacus. Cras non interdum nulla. Quisque ante orci, tempus non arcu et,
                    imperdiet tristique nunc. Nulla at gravida risus. Phasellus augue lectus, consectetur a dui sed,
                    rhoncus facilisis odio. Suspendisse sed vestibulum eros. Suspendisse vehicula sagittis nibh eu
                    posuere. Pellentesque rhoncus sit amet orci in gravida. Pellentesque eget volutpat ipsum, quis
                    pretium turpis. Sed vel pulvinar turpis. Cras lobortis mauris sed justo rhoncus, in tincidunt
                    felis vestibulum. Nulla bibendum pharetra erat nec efficitur. Praesent quis ipsum eget augue
                    efficitur rutrum id eu lacus. Nam ut viverra augue. Donec rutrum vehicula eleifend. Sed vehicula
                    lectus in semper dignissim.</p>
            </div>
        </aside>
        <footer>
            <p>Jose Adrian Rodriguez Martinez</p>
        </footer>
    </div>
</body>

</html>